.msg-error {
    font-size: 16px;
    text-align: center;
    color: #f00;
}
.msg-error p {
    margin: 0.2em 0;
}
.input-error {
    border:#f00 1px solid;
}

div .btn-close {
    margin: auto;
    text-align: right;
}
.btn-close a {
    color: #f00;
}
.btn-close a:hover {
    cursor: pointer;
}
