<div id="product-index"> 
    <h3>Produtos</h3>
    <div id="new">
        <a class="btn-new" href="product/form.html">Novo</a> 
    </div>
    <table>
        <thead>
            <tr>
                <th width="15%">Nome</th>
                <th>Descrição</th>
                <th width="5%">Preço</th>
                <th width="10%">Status</th>
                <th width="10%">Aprovado</th>
                <th width="15%"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="form"></div>
<script src="../js/index.js"></script>
<script src="../js/api/product.js"></script>
